@import "../ui/mixins";
@import "../ui/variables";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import "reset";
@import "input-phone";
@import "swiper/swiper.scss";
@import "swiper/components/pagination/pagination.scss";

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    background-color: #fff5f6;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1260px;
}

.articles {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.title {
    position: relative;
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;

    &::after {
        content: "/";
        position: absolute;
        top: 5px;
        margin-left: 20px;
        font-size: 38px;
        line-height: 1;
        color: #ba4564;
        animation-name: decor;
        animation-duration: 2s;

        @keyframes decor {
            0% {
                transform: rotate(180deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    }

    @include r($xl) {
        font-size: 30px;
    }

    @include r($md) {
        font-size: 26px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 18px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.3s;

    &__img {
        margin-bottom: 15px;
        width: 100%;
        max-width: 600px;
        text-align: center;
        object-fit: cover;

        @include r($md) {
            max-width: 300px;
        }
    }

    &__title {
        @include text-clamp;

        margin: auto 0;
        font-size: 22px;
    }

    &__prices {
        margin: 15px 0;
    }

    &__price {
        margin-right: 10px;
        color: #d40000;
    }

    &__oldprice {
        text-decoration: line-through;
        color: #000;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @include r($xl) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__btn-more {
        margin-right: 5px;
        padding: 10px 25px;
        border: none;
        border-radius: 35px;
        box-shadow: 0 5px 5px 0 rgb(216, 124, 152);
        color: #fff;
        background-image: linear-gradient(120deg, #ba4564 40%, #7a2041);
        background-color: rgb(122, 32, 65);
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: none;
        }

        @include r($xl) {
            margin-bottom: 10px;
            padding: 10px 50px;
        }
    }

    &__btn-buy {
        padding: 10px 25px;
        border: 1px solid #7a2041;
        border-radius: 35px;
        color: #7a2041;
        background-color: #fff;

        @include r($xl) {
            padding: 10px 50px;
        }
    }

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    }

    @include r($sm) {
        margin: 0 auto;
        max-width: 400px;
    }
}

.phone {
    max-width: 400px;
}
